<section class="pt-xlarge">
    <div class="container">
        <div class="swiper car-carousel">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="/assets/img/car/1.jpg" alt="Taxi Piaseczno - Samochód" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/car/2.jpg" alt="Taxi Piaseczno - Samochód 2" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/car/3.jpg" alt="Taxi Piaseczno - Samochód 3" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/car/4.jpg" alt="Taxi Piaseczno - Samochód 4" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/car/5.jpg" alt="Taxi Piaseczno - Samochód 5" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/car/6.jpg" alt="Taxi Piaseczno - Samochód 6" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/car/7.jpg" alt="Taxi Piaseczno - Samochód 7" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/car/8.jpg" alt="Taxi Piaseczno - Samochód 8" loading="lazy">
              </div>
              <div class="swiper-slide">
                <img src="/assets/img/car/9.jpg" alt="Taxi Piaseczno - Samochód 9" loading="lazy">
              </div>

            </div>
          </div>
    </div>
  </section>