<section class="pb-xlarge pt-xlarge" id="oferta">
  <div class="container p-relative">
    <div class="desc-big-text-wrap">
      <p class="desc-big-text split-chars">
        Taxi
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="split-lines">
          Zawsze <br><span class="accent-text-right"> na czas</span>
        </h2>
      </div> 
      <div class="col-md-6 d-md-flex align-items-end">
        <p class="split-lines">
          Z zadowoleniem prezentujemy Państwu nasze usługi przewozu osób, które  cechuje nie tylko solidność, ale również profesjonalizm. Dbamy o wysoki  standard obsługi, dlatego starannie selekcjonujemy naszych kierowców,  wybierając osoby z dużym doświadczeniem, doskonałymi umiejętnościami  prowadzenia pojazdu oraz wysoką kulturą osobistą.
        </p>
      </div>
    </div>
  </div>
</section>