<section class="faq pt-large" itemscope itemtype="https://schema.org/FAQPage">
    <div class="container">
      <div class="faq-wrap p-4 p-md-5 pt-md-0 bg-light-2 border">

          <div class="accordion-wrap p-md-5"> 

            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <button class="accordion mt-4 pt-xxsmall pb-xxsmall">
                <span class="h3 title my-0 split-lines" itemprop="name">
                    Jak mogę zamówić przejazd?
                </span>
                <span class="icon fade-in"></span>
              </button>
              <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <p itemprop="text">
                    Możesz zamówić taksówkę, dzwoniąc bezpośrednio na nasz numer telefonu +48 606 959 607 lub korzystając z formularza rezerwacji online.
                </p>
              </div>
            </div>
            <div class="line-x lx-op mt-4"></div>

            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <button class="accordion mt-4 pt-xxsmall pb-xxsmall">
                  <span class="h3 title my-0 split-lines" itemprop="name">
                    Czy oferujecie przewóz na lotniska?
                  </span>
                  <span class="icon fade-in"></span>
                </button>
                <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                  <p itemprop="text">
                    Tak, oferujemy przewóz na wszystkie główne lotniska w Polsce, w tym Lotnisko Chopina w Warszawie i Lotnisko Modlin. Prosimy o wcześniejszą rezerwację, aby zapewnić dostępność samochodu.
                  </p>
                </div>
              </div>
              <div class="line-x lx-op mt-4"></div>

              <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <button class="accordion mt-4 pt-xxsmall pb-xxsmall">
                  <span class="h3 title my-0 split-lines" itemprop="name">
                    Czy mogę zapłacić kartą płatniczą?
                  </span>
                  <span class="icon fade-in"></span>
                </button>
                <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                  <p itemprop="text">
                    Tak, wszystkie nasze taksówki są wyposażone w terminale płatnicze, które umożliwiają płatność kartą. Akceptujemy wszystkie popularne karty kredytowe i debetowe.
                  </p>
                </div>
              </div>
              <div class="line-x lx-op mt-4"></div>

              <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <button class="accordion mt-4 pt-xxsmall pb-xxsmall">
                  <span class="h3 title my-0 split-lines" itemprop="name">
                    Czy oferujecie przewóz większych grup?
                  </span>
                  <span class="icon fade-in"></span>
                </button>
                <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                  <p itemprop="text">
                    Tak, dysponujemy flotą pojazdów, która obejmuje także vany, które mogą przewozić większe grupy pasażerów. Prosimy o kontakt w celu uzyskania informacji o dostępności i cenach.
                  </p>
                </div>
              </div>
              <div class="line-x lx-op mt-4"></div>

              <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <button class="accordion mt-4 pt-xxsmall pb-xxsmall">
                  <span class="h3 title my-0 split-lines" itemprop="name">
                    Czy mogę zamówić taksówkę z wyprzedzeniem?
                  </span>
                  <span class="icon fade-in"></span>
                </button>
                <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                  <p itemprop="text">
                    Oczywiście! Zalecamy zamawianie taksówki z wyprzedzeniem, zwłaszcza jeśli potrzebujesz transportu na ważne wydarzenie lub na lotnisko. Możesz to zrobić przez telefon lub online.
                  </p>
                </div>
              </div>
              <div class="line-x lx-op mt-4"></div>

              <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <button class="accordion mt-4 pt-xxsmall pb-xxsmall">
                  <span class="h3 title my-0 split-lines" itemprop="name">
                    Czy świadczycie usługi przewozu rzeczy?
                  </span>
                  <span class="icon fade-in"></span>
                </button>
                <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                  <p itemprop="text">
                    Tak, oferujemy również przewóz małych paczek i przesyłek w granicach miasta i okolic. W celu uzyskania szczegółowych informacji, prosimy o kontakt.
                  </p>
                </div>
              </div>
              <div class="line-x lx-op mt-4"></div>

              <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <button class="accordion mt-4 pt-xxsmall pb-xxsmall">
                  <span class="h3 title my-0 split-lines" itemprop="name">
                    Co zrobić, jeśli zgubiłem coś w taksówce?
                  </span>
                  <span class="icon fade-in"></span>
                </button>
                <div class="panel col-md-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                  <p itemprop="text">
                    Jeśli zgubiłeś coś w naszej taksówce, skontaktuj się z nami jak najszybciej. Postaramy się pomóc w odnalezieniu zgubionego przedmiotu.
                  </p>
                </div>
              </div>
              <div class="line-x lx-op mt-4"></div>

          </div>

      </div>
    </div> 
</section> 