<section class="hero pt-xxlarge" data-scroll-section>
  <div class="container">

    <div class="offset-md-1 col-md-10">
      <h1 class="xl split-lines uppercase">
        Taxi <br>osobowe Piaseczno
      </h1>
      <div class="col-md-8">
        <p class="split-lines color-light">
          Dbamy o wysoki  standard obsługi, dlatego starannie selekcjonujemy naszych kierowców,  wybierając osoby z dużym doświadczeniem, doskonałymi umiejętnościami  prowadzenia pojazdu oraz wysoką kulturą osobistą.
        </p>
      </div>
    </div>

    <div class="hero-card bg-dark">
      <div class="row align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <p class="mt-3 mb-0 color-light">
            Zadzwoń
          </p>
          <p class="h2 mt-3 color-light">
            +48 606 959 607
          </p>
        </div>
        <div class="col-md-6">
          <img src="/assets/img/hero/taxi.png" alt="">
        </div>
      </div>
    </div>

  </div>
</section>

