<section class="pb-large pt-medium bg-dark">
    <div class="container p-relative">
        <div class="pricing-big-text-wrap">
            <p class="pricing-big-text split-chars">
              Cennik
            </p>
          </div>
        <h2 class="split-lines">
            <span class="color-light">Zobacz</span> <br><span class="accent-text-right"> cennik</span>
        </h2>
        <div class="pricing-wrap pt-medium">
            <div class="row">
               <div class="col-9">
                     <p class="split-lines">
                        Opłata początkowa						
                    </p>
                </div>
                <div class="col-3">
                    <p class="split-lines">
                       8 zł						
                   </p>
               </div>
            </div>
            <div class="line-x"></div>

            <div class="row">
                <div class="col-9">
                      <p class="split-lines">
                        Opłata za 1 km w I taryfie						
                     </p>
                 </div>
                 <div class="col-3">
                     <p class="split-lines">
                        3 zł						
                    </p>
                </div>
             </div>
             <div class="line-x"></div>

             <div class="row">
                <div class="col-9">
                      <p class="split-lines">
                        Opłata za 1 km w II taryfie 						
                     </p>
                 </div>
                 <div class="col-3">
                     <p class="split-lines">
                        4,5 zł						
                    </p>
                </div>
             </div>
             <div class="line-x"></div>

             <div class="row">
                <div class="col-9">
                      <p class="split-lines">
                        Opłata za 1 km w III taryfie						
                     </p>
                 </div>
                 <div class="col-3">
                     <p class="split-lines">
                        6 zł						
                    </p>
                </div>
             </div>
             <div class="line-x"></div>

             <div class="row">
                <div class="col-9">
                      <p class="split-lines">
                        Opłata za 1 km w IV taryfie						
                     </p>
                 </div>
                 <div class="col-3">
                     <p class="split-lines">
                        9 zł						
                    </p>
                </div>
             </div>
             <div class="line-x"></div>

             <div class="row">
                <div class="col-9">
                      <p class="split-lines">
                        Zakupy na telefon z dostawą do domu: Wartość zakupionych rzeczy	plus					
                     </p>
                 </div>
                 <div class="col-3">
                     <p class="split-lines">
                        70 zł						
                    </p>
                </div>
             </div>
             <div class="line-x"></div>

             <div class="row">
                <div class="col-9">
                      <p class="split-lines">
                        Uruchomienie samochodu (kable):					
                     </p>
                 </div>
                 <div class="col-3">
                     <p class="split-lines">
                        70 zł						
                    </p>
                </div>
             </div>
             <div class="line-x"></div>

             <div class="row">
                <div class="col-9">
                      <p class="split-lines">
                        Zmiana uszkodzonego koła na zapas:					
                     </p>
                 </div>
                 <div class="col-3">
                     <p class="split-lines">
                        100 zł						
                    </p>
                </div>
             </div>
             <div class="line-x"></div>

             <div class="row">
                <div class="col-9">
                      <p class="split-lines">
                        Przewóz między miastami, dalsze trasy						
                     </p>
                 </div>
                 <div class="col-3">
                     <p class="split-lines">
                       do uzgodnienia						
                    </p>
                </div>
             </div>
             <div class="line-x"></div>

        </div>
    </div>
</section>