
@use 'base/grid.scss';
@use 'base/colors.scss';
@use 'base/global.scss';
@use 'base/transition.scss';
@use 'base/spacings.scss';
@use 'base/typography.scss';
@use 'base/lenis.scss';
@use 'components/noise.scss';
@use 'components/lines.scss';
@use 'components/swiper.scss';
@use 'components/faq.scss';

@use 'components/header.scss';
@use 'components/button.scss';

@use 'components/hero.scss';
@use 'components/description.scss';
@use 'components/services.scss';
@use 'components/pricing.scss';

@use 'components/form.scss';
@use 'components/footer.scss';

@use 'syntax/prism-nord.scss'; 
